footer {
  background-color: var(--primary-color);
  color: var(--color-text);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  margin-top: auto;
}

.footer-logo img {
  max-width: 100px;
}

.footer-links {
  text-align: start;
}

.footer-links h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-bottom {
  text-align: center;
  display: flex;
  align-items: center;
}

.group-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.icon-footer-linkedin {
  text-decoration: none;
  color: var(--color-text);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-footer-discord {
  text-decoration: none;
  color: var(--color-text);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-footer-github {
  text-decoration: none;
  color: var(--color-text);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.icon-footer-linkedin:hover {
  transform: scale(1.1);
}

.icon-footer-discord:hover {
  transform: scale(1.1);
}

.icon-footer-github:hover {
  transform: scale(1.1);
}

.Mentions-legales {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.Mentions-legales:hover {
  color: var(--color-text);
  text-decoration: underline;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .group-icon-footer-discord {
    display: none;
  }
  .group-icon-footer-linkedin {
    display: none;
  }
  .group-icon-footer-github {
    display: none;
  }
}
