<footer>
  <div class="footer">
    <div
      class="footer-bottom"
      style="display: flex; align-items: center; font-size: 12px"
    >
      <img
        class="logo-footer"
        [routerLink]="['/']"
        src="../assets/Logo.png"
        alt="logo"
      />
      <div class="footer-bottom-text">
        <p style="margin: 0">© 2023 Matheo</p>
        <p [routerLink]="['/legales']" class="Mentions-legales">
          Mentions Légales
        </p>
      </div>
    </div>
    <div class="group-icon-footer">
      <a
        class="icon-footer-linkedin"
        href="https://www.linkedin.com/in/matheo-hanss-ba730025b/"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="icon-footer-github" href="https://github.com/Matheo1210">
        <i class="fab fa-github"></i>
      </a>
      <a class="icon-footer-discord" href="https://github.com/Matheo1210">
        <i class="fab fa-discord"></i>
      </a>
    </div>
  </div>
</footer>
