<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matheo - Contact</title>
  </head>
  <body>
    <div class="home">
      <nav>
        <img
          routerLink="/"
          class="logo"
          src="../../assets/Logo.png"
          alt="logo"
        />
        <a class="element-navbar" routerLink="/">Accueil</a>
        <a class="element-navbar" style="color: black" routerLink="/about"
          >Mes réalisations</a
        >
        <a class="element-navbar" routerLink="/blog">Blog</a>
        <button class="btn-contact">Contact</button>
      </nav>
    </div>
    <h1 class="title-contact">Contactez-moi</h1>
    <div class="card">
      <div class="header-form">
        <i class="fas fa-envelope"></i>
        <p>
          Une réponse à votre question vous sera donnée dans un délai de moins
          de 24 heures.
        </p>
      </div>
      <form action="https://formspree.io/f/mpzvawyj" method="POST">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Message :</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <input type="submit" value="Envoyer" />
      </form>
    </div>
    <app-footer style="bottom: 0; width: 100%"></app-footer>
  </body>
</html>
