<div class="home">
  <nav>
    <img
      [routerLink]="['/']"
      class="logo"
      src="../../assets/Logo.png"
      alt="logo"
    />
    <a class="element-navbar" [routerLink]="['/']">Accueil</a>
    <a class="element-navbar" style="color: black" routerLink="/realisations"
      >Mes réalisations</a
    >
    <a class="element-navbar" routerLink="/blog">Blog</a>
    <button [routerLink]="['/contact']" class="btn-contact">Contact</button>
  </nav>
  <header>
    <div class="title-home">
      <h1 class="title">
        Innovons Ensemble<br />
        Votre Vision,<br />
        Mon Expertise Web
      </h1>
      <p class="description-home">
        Ensemble, donnons vie à vos projets en ligne.
      </p>
      <button class="btn-commencer">Commencer</button>
    </div>
    <img class="home-img" src="../../assets/home-blue.svg" alt="home-img" />
  </header>
</div>
