<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Matheo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="home">
      <nav>
        <img class="logo" src="../../assets/Logo.png" alt="logo" />
        <a class="element-navbar" routerLink="/home">Accueil</a>
        <a class="element-navbar" style="color: black" routerLink="/about"
          >Nos réalisations</a
        >
        <a class="element-navbar" routerLink="/blog">Blog</a>
        <button class="btn-contact">Contact</button>
      </nav>
      <header>
        <div class="title-home">
          <h1 class="title">
            Innovons Ensemble<br />
            Votre Vision,<br />
            Mon Expertise Web
          </h1>
          <p class="description-home">
            Ensemble, donnons vie à vos projets en ligne.
          </p>
          <button class="btn-commencer">Commencer</button>
        </div>
        <img class="home-img" src="../assets/home.svg" alt="home-img" />
      </header>
    </div>
    <section class="input">
      <div class="project">
        <h1 class="title-project">Projet Réalisé</h1>
        <div class="search-container">
          <i class="fa fa-search"></i>
          <form [formGroup]="searchForm">
            <input
              class="input-project"
              type="text"
              placeholder="Rechercher un projet..."
              formControlName="searchQuery"
              (input)="searchProjects()"
              (keyup.enter)="activateSelectedProject()"
            />
          </form>
        </div>
      </div>
    </section>
    <section class="tableau">
      <div class="category">
        <button
          class="btn-category"
          [class.active]="selectedCategory === 'all' || !selectedCategory"
          (click)="showCategory('all')"
        >
          <i class="fas fa-globe"></i> Tous
        </button>
        <button
          class="btn-category"
          [class.active]="selectedCategory === 'web'"
          (click)="showCategory('web')"
        >
          <i class="fas fa-desktop"></i> Site Web
        </button>
        <button
          class="btn-category"
          [class.active]="selectedCategory === 'mobile'"
          (click)="showCategory('mobile')"
        >
          <i class="fas fa-mobile-alt"></i> Application Mobile
        </button>
      </div>
    </section>
    <hr class="espacement-home" />
    <section class="realisation">
      <div class="project-details" id="projectDetails">
        <div class="project-buttons">
          <button
            class="btn-project d-flex align-items-center"
            *ngFor="let project of projectsInCategory"
            (click)="selectProject(project)"
            [class.selected]="project.name === selectedProject"
          >
            <i class="fas fa-play mr-2"></i>
            {{ project.name }}
          </button>
        </div>
      </div>
      <div class="project-description">
        <div class="card">
          <h1>{{ selectedProject }}</h1>
          <div class="description-card">
            <div
              class="description-project-card"
              [innerHTML]="projectDescription"
            ></div>
            <img class="img-card align-left" src="../assets/project.svg" />
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
        <div
          class="footer-bottom"
          style="display: flex; align-items: center; font-size: 12px"
        >
          <img
            style="
              min-width: 100px;
              max-width: 100px;
              margin-right: 10px;
              cursor: pointer;
            "
            src="../assets/Logo.png"
            alt="logo"
          />
          <div
            style="
              display: flex;
              gap: 1rem;
              vertical-align: middle;
              align-items: center;
              border-left: 1px solid black;
              padding-left: 1rem;
            "
          >
            <p style="margin: 0">© 2023 Matheo</p>
            <p style="cursor: pointer">Mentions Légales</p>
          </div>
        </div>
        <div class="group-icon-footer">
          <a
            class="icon-footer"
            href="https://www.linkedin.com/in/matheo-hanss-ba730025b/"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="icon-footer" href="https://github.com/Matheo1210">
            <i class="fab fa-github"></i>
          </a>
          <a class="icon-footer" href="https://github.com/Matheo1210">
            <i class="fab fa-discord"></i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
