<!DOCTYPE html>
<html lang="en" class="colorpage">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matheo - Portfolio</title>
  </head>
  <body class="color-body">
    <div class="colorpage">
      <div *ngIf="isMainRoute()">
        <app-nav></app-nav>
        <app-projet></app-projet>
        <app-footer></app-footer>
      </div>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
</html>
