<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matheo - Mentions Légales</title>
  </head>
  <body>
    <div class="home">
      <nav>
        <img class="logo" src="../../assets/Logo.png" alt="logo" />
        <a class="element-navbar" routerLink="/home">Accueil</a>
        <a class="element-navbar" style="color: black" routerLink="/about"
          >Nos réalisations</a
        >
        <a class="element-navbar" routerLink="/blog">Blog</a>
        <button class="btn-contact">Contact</button>
      </nav>
    </div>
  </body>
</html>
